@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EBF0EB;
  --foreground: #043F2E;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lalezar);
}
